<ion-header [translucent]="true">
  <ion-toolbar color="light">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Mapa de Estacionamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2989.5682095934076!2d-72.92839422393614!3d-41.47027957128944!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96183bde12d224d5%3A0xb1d39be19410d933!2sDuocUC%20Sede%20Puerto%20Montt!5e0!3m2!1ses-419!2scl!4v1699964480980!5m2!1ses-419!2scl" width={{ancho}} height="375" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

  <ion-list [inset]="true">
      <div *ngFor="let estacionamiento of estacionamientos">
        <a class="boton" (click)="arrendar(estacionamiento)">
          <ion-item>
            <ion-label>
              <b>Estacionamiento {{estacionamiento.id_est}}</b><br>   
              Ubicación: {{estacionamiento.nombre_dic}}<br>
              Valor Hora: ${{estacionamiento.tarifa}}
            </ion-label> 
          </ion-item>
        </a>       
      </div>
  </ion-list>
</ion-content>

