<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Estacionamientos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding">

  <ion-card  *ngFor="let estacionamiento of esta">
    <ion-card-header>
      <ion-card-title class="titulo">Estacionamiento {{estacionamiento.id_est}}</ion-card-title>
    </ion-card-header>
    <ion-card-content> 
        Ubicación: {{estacionamiento.nombre_dic}}<br>
        Valor Hora: ${{estacionamiento.tarifa}}
    </ion-card-content>
  </ion-card> 

  <ion-note *ngIf="NotFound">No posee un estacionamiento en esta cuenta.</ion-note>

  <ion-button href="/estacionamientos" expand="block" class="ion-padding">Agregar un estacionamiento</ion-button> 
  
</ion-content>
