<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Elige un Vehículo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngFor="let vehiculo of vehiculos; let i = index" [ngClass]="{ 'seleccionada': i === selectedCard }" (click)="seleccionar(i,vehiculo)">
    <ion-card-header>
      <ion-card-title class="titulo">Vehículo {{i+1}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Modelo:  {{vehiculo.marca}} {{vehiculo.modelo}}<br>   
      Color: {{vehiculo.color}}<br>
      Patente: {{vehiculo.patente}}<br>
    </ion-card-content>
  </ion-card> 

</ion-content>
