<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light" class="ion-padding">
  <ion-card *ngFor="let vehiculo of vehi; let i = index">
    <ion-card-header>
      <ion-card-title class="titulo">Vehículo {{i+1}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Modelo:  {{vehiculo.marca}} {{vehiculo.modelo}}<br>   
      Color: {{vehiculo.color}}<br>
      Patente: {{vehiculo.patente}}<br>
    </ion-card-content>
  </ion-card> 

  <ion-note *ngIf="NotFound">No posee un vehiculo en esta cuenta.</ion-note>
 

  <ion-button href="/vehiculos" expand="block" class="ion-padding">Agregar un vehículo</ion-button> 

</ion-content>
