<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Tus Vehículos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="light">
  <ion-card *ngFor="let vehiculo of vehiculos; let i = index" [ngClass]="{ 'seleccionada': i === selectedCard }" (click)="seleccionarCarta(i)">
    <ion-card-content>
      Vehiculo:  {{vehiculo.marca}} {{vehiculo.modelo}}<br>   
      Color: {{vehiculo.color}}<br>
      Patente: {{vehiculo.patente}}<br>
    </ion-card-content>
  </ion-card> 

</ion-content>
