<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Volver"></ion-back-button>
    </ion-buttons>
    <ion-title>Elige un Horario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-list [inset]="true">

    <ion-item>
      <ion-label>Desde</ion-label>
      <ion-datetime-button datetime="desde" ></ion-datetime-button>
    
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="desde" presentation="date-time" [preferWheel]="true" [(ngModel)]="inicio"></ion-datetime> 
        </ng-template>
      </ion-modal>
    </ion-item>
      
    <ion-item>
      <ion-label>Hasta</ion-label>
      <ion-datetime-button datetime="hasta" ></ion-datetime-button>
    
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="hasta" presentation="date-time" [preferWheel]="true" [(ngModel)]="fin"></ion-datetime> 
        </ng-template>
      </ion-modal>
    </ion-item>


  </ion-list>
  <br>
  <ion-button (click)="confirmar()" expand="block">Confirmar horario de arriendo</ion-button> 

</ion-content>
